
html {
  color: #E8E5DA;
  background-color: #006156;
}


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

h1 {
  font-size: 3em;
  text-shadow: 2px 2px 2px black;
}

h2 {
  font-size: 2.25em;
  font-weight: normal;
}

.welcome { font-size: 3.5em }

.app {
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 1000px;
  height: 800px;
  text-align: center;
  background-color: #005A50;
  background-color: #006156;
  border: 0px solid red;
}

.logo {
  margin: auto;
  margin-top: 40px;
  width: 400px;
  height: 225px;
  background-repeat: no-repeat;
  background-image: url("../img/lollypop-farm-logo-600.jpg");
  background-size: contain;
  border-radius: 30px;
  border: 0px solid #E8E5DA;
  box-shadow: 2px 2px 2px black;
}

.debug-viewer {
  position: absolute;
  top: 100px;
  left: -300px;
  width: 200px;
  color: white;
  font-size: 1em;
  text-align: left;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

