
html {
  color: #E8E5DA;
  background-color: #006156;
}


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

h1 {
  font-size: 3em;
  text-shadow: 2px 2px 2px black;
}

h2 {
  font-size: 2.25em;
  font-weight: normal;
}

.welcome { font-size: 3.5em }

.app {
  position: relative;
  margin: auto;
  margin-top: 20px;
  width: 1000px;
  height: 800px;
  text-align: center;
  background-color: #005A50;
  background-color: #006156;
  border: 0px solid red;
}

.next-button {
  position: relative;
  margin: auto;
  margin-top: 20px;
  top: 650px;
  width: 200px;
  height: 80px;
  font-size: 2.5em;
  color: #E8E5DA;
  background-color: #006156;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black
}

/* MOVE THESE TO ScreenViewer.css */

.screen-viewer {
  position: absolute;
  width: 1000px;
  height: 650px;
  border: 0px solid white;
  border-radius: 10px;
  overflow: hidden;
}

.screen {
  position: absolute;
  width: 1000px;
  height: 700px;
  opacity: 0;
}

.logo {
  margin: auto;
  margin-top: 40px;
  width: 600px;
  height: 338px;
  background-repeat: no-repeat;
  background-image: url("../img/lollypop-farm-logo-600.jpg");
  border-radius: 30px;
  border: 5px solid #E8E5DA;

}

