/* ScreenViewer.css */

.screen-viewer {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 650px;
  border-radius: 10px;
  overflow: hidden;
  border: 0px solid white;
}

.debug-viewer {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 200px;
  color: white;
  font-size: 1em;
  text-align: left;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

